@page "/customer"
@page "/customer/{Page}"

@using BlazorApp.Pages.Pager
@inherits CustomerGridBase
@attribute [Authorize]

<h1>Customers</h1>

<div class="row margin-bottom-20">
    <div class="col-sm-9">
        <div class="dataTables_length" id="showPages">
            <label>
                Show
                <select name="example_length" aria-controls="example" class="" @onchange="SelectedPageSizeAsync">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries
            </label>
        </div>
    </div>
</div>

@if (@Customers is null) {
    <p><em>No data...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>CompanyName</th>
                <th>ContactName</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>
                    <button type="button" class="btn btn-primary" @onclick="AddNew">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Customers.Results) {
                <tr>
                    <td>@customer.CompanyName</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.Address</td>
                    <td>@customer.City</td>
                    <td>@customer.Region</td>
                    <td>@customer.PostalCode</td>
                    <td>@customer.Country</td>
                    <td>@customer.Phone</td>
                    <td>
                        <a class="btn btn-success" href="customer/edit/@customer.Id">
                            <i class="fas fa-pencil" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-danger" @onclick="@(() => Delete(customer.Id))">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pager Result=@Customers PageChanged=@PagerPageChanged />
}